<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

     <script src="./static/artists.js"></script>
 	
     <title>Artists</title>
</head>
<body ng-app="artistApp" ng-controller="artistCtrl">
    <div class="container">
        <center><h2>Artists</h2></center>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="artist in artists | orderBy">
                    <th><a ng-href="songs/{{artist}}" ng-bind="artist"></a></th>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
