<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

     <script src="../static/songs.js"></script>

     <title><<<.>>></title>
</head>
<body ng-app="songApp" ng-controller="songCtrl">
<body>
    <div class="container">
        <center><h2><<<.>>> - {{current_song}}</h2></center>
        <audio id="audio" ng-src="{{current_song_path}}" type="audio/mpeg" controls>
        </audio>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="song_name in song_names">
                    <th>
                        <a ng-click="play_song(song_name)" ng-bind="song_name"></a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>