<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

     <script src="../static/songs.js"></script>

     <title><<<.>>></title>
</head>
<body ng-app="songApp" ng-controller="songCtrl">
<body>
    <div class="container">
        <center><h2>Songs</h2></center>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="(song_name, path) in songs">
                    <p ng-bind="song_name">hi</p>
                    <!--<th><a ng-href="music/{{artist}}/{{song}}" ng-bind="song"></a></th>-->
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>